.titulo {
    font-family: Roboto;
    font-size: 5rem;
    text-align: center;
    color: #262626;
}

.textoHeader {
    padding-top: 1%;
    font-family: Roboto;
    font-weight: lighter;
    padding-left: 3rem;
}

.contenedor {
    margin-left: 3%;
    margin-right: 3%;
}

  @media (max-width: 768px) { /* especificaciones para dispositivos móviles */
    .textoHeader {
      padding-left: 1rem;
      padding-top: 1.2rem;
      font-size: 13px;
    }
  }

.navbar {
  background-color: #fff; /* color de fondo navbar */
}

.navbar-nav .nav-link { /* color de links de navbar */
  color: #262626;
}

.navbar-nav .nav-link:hover { /* color gris al hacer hover */
  color: #919191;
}

.btn-custom:hover {
  color: #7f7f7f !important;
}

.contenedor-video {
    width: 100%;
    height: 300px; 
    overflow: hidden; /* para que el video sea rectangular como el contenedor y no sobresalga del contenedor */
    margin-bottom: 30px;
    border-bottom: 1px solid #9c9c9c;
}
      
video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.contenedor-imagenes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* definimos 3 columnas para que los productos se muestren uno al lado del otro */
    gap: 20px;
    text-align: center; 
    height: auto;
    justify-items: center;
  }

  .imagen {
    border: 1px solid #aeaeae;
    border-radius: 20%;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    cursor: pointer;
  }

  .labial {
    width: 300px;
    height: auto;
    overflow: hidden;
    transition: opacity 0.3s ease; /* transición suave de opacidad */
  }
  
  .texto {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0); 
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease; /* transición suave de opacidad */
    font-family: Roboto;
  }
  
  .labial:hover {
    opacity: 50%;/
  }

  .imagen:hover .texto {
    opacity: 1; /* cambiar opacidad del texto en hover */
  }


  .seccion-historia {
    background-color: #f2f2f2;
    padding: 50px 0;
    text-align: center;
    margin-top: 20px;
  }
  
  .texto-historia,
  .imagen-historia {
    display: inline-block;
    vertical-align: top; 
    width: 45%;
    text-align: left;
    vertical-align: middle;
    font-family: Roboto;
    color: #515151;
  }
  
  .texto-historia {
    padding-right: 20px;
    
  }
  
  .imagen-historia img {
    max-width: 100%;
    height: auto;
    border-radius: 30px;
  }

  .seccion-newsletter {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
  }
  
  .seccion-newsletter h2 {
    margin-bottom: 20px;
    font-family: Roboto;
  }
  
  .formulario {
    margin-bottom: 20px;
  }
  
  .formulario input[type="email"],
  .formulario button {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #9c9c9c;
  }

  .formulario button {
    background-color: #575757;
    color: #fff;
    font-weight: bold;
    font-family: Roboto;
  }
  
  .enlaces {
    margin-top: 20px;
  }
  
  .enlaces a {
    margin: 0 10px;
    color: #929292;
    text-decoration: none;
    font-family: Roboto;
    font-size: 15px;
  }
  
  .enlaces a:hover {
    color: #262626;
  }

  .derechos {
    margin-top: 30px;
    color: #929292;
    font-family: Roboto;
    font-size: 15px;
  }

  .detalle-producto {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.detalle-contenido {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    position: relative;
}

.detalle-imagen {
    max-width: 150px; 
    height: auto;
    margin-bottom: 20px;
}

#precio-producto {
  font-size: 18px;
  color: #333;
  margin-top: 10px;
  margin-bottom: 20px;
}

.cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #333;
}

.productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 80px;
  text-align: center; 
  height: auto;
  justify-items: center;
  margin-top: 50px;
}

.noticias {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr)); 
  gap: 80px;
  text-align: center; 
  height: auto;
  justify-items: center;
  margin-top: 50px;
}
